#============= Hopebay Cloud Filesystem ==============
type hcfsd, domain, mlstrustedsubject;
type hcfsd_exec, exec_type, file_type;
type hcfs_socket, file_type;
type hcfs_data_file, file_type, data_file_type;
type hcfs, sdcard_type, fs_type, mlstrustedobject;
#domain_auto_trans(init, hcfsd_exec, hcfsd)
tmpfs_domain(hcfsd)
# Capabilities
allow hcfsd self:capability { sys_admin sys_resource dac_override net_raw };
# All files/dirs created in system_data_file:dir will be labeled hcfs_data_file
file_type_auto_trans(hcfsd, system_data_file, hcfs_data_file)
# Allow permission to mount
allow hcfsd hcfs:filesystem { mount unmount };
allow hcfsd apk_data_file:dir { read open mounton };
# Allow permission to create hcfs_socket file in /dev/shm folder
allow hcfsd device:dir rw_dir_perms;
allow hcfsd device:file rw_file_perms;
file_type_auto_trans(hcfsd, device, hcfs_socket)
# Allow connection from hcfsapid domain via socket to hcfsd domain
allow hcfsd hcfs_socket:sock_file create_file_perms;
allow hcfsd hcfs_socket:unix_stream_socket connectto;
allow hcfsd init:unix_stream_socket connectto;
# Allow hcfsd to access /data/hcfs/{metastorage, blockstorage} folders and other data files
allow hcfsd hcfs_data_file:dir create_dir_perms;
allow hcfsd hcfs_data_file:file create_file_perms;
# Allow permission on tmpfs
allow hcfsd tmpfs:dir create_dir_perms;
allow hcfsd tmpfs:file create_file_perms;
allow hcfsd hcfsd_tmpfs:file { create open getattr unlink };
# Allow hcfsd to communicate with hcfsmgmt app
allow hcfsd terafonn_app:file { read open };
allow hcfsd terafonn_app:dir search;
allow hcfsd terafonn_data_file:dir search;
allow hcfsd terafonn_data_file:file { write getattr setattr read lock open };
allow hcfsd terafonn_app:unix_stream_socket connectto;
# Allow permission to communicate with fuse_device
allow hcfsd fuse_device:chr_file { read write open ioctl };
#allow hcfsd init:fd use;
# Allow permission to access shell_data_file files/dirs
allow hcfsd shell_data_file:dir { write remove_name search add_name };
allow hcfsd shell_data_file:file { write getattr read create unlink open };
##allow hcfsd dpmd:unix_stream_socket connectto;
##allow hcfsd dpmwrapper_socket:sock_file write;
allow hcfsd netd:unix_stream_socket connectto;
allow hcfsd port:tcp_socket name_connect;
allow hcfsd self:tcp_socket { write read getopt create getattr connect };
allow hcfsd self:udp_socket create;
allow hcfsd system_app:unix_stream_socket connectto;
# Allow hcfs to have permission to access directories and files on /proc/<pid> folder
#define(`hcfs_proc_dataset', `{ init installd qti_init_shell shell vold bluetooth radio wcnss_service system_app platform_app untrusted_app isolated_app rild system_server adbd mediaserver hcfsapid terafonn_app qtitetherservice_app location_app shared_relro debuggerd }')
define(`hcfs_proc_dataset', `{ init installd shell vold bluetooth radio system_app platform_app untrusted_app isolated_app rild adbd mediaserver hcfsapid terafonn_app debuggerd }')
allow hcfsd { hcfs_proc_dataset }:dir search;
allow hcfsd { hcfs_proc_dataset }:file { read getattr open };
# Allow hcfsd to communicate with zygote
allow hcfsd zygote:dir search;
allow hcfsd zygote:file { open read };
# Vince
#allow toolbox tmpfs:dir { write add_name };
#allow toolbox tmpfs:file { write create open };

allow hcfsd hcfsd:udp_socket bind;
allow hcfsd dnsproxyd_socket:sock_file write;
#============= dpmd ==============
##allow dpmd hcfsd:fd use;
##allow dpmd hcfsd:tcp_socket { read write };
#============= adbd ==============
#============= file_type ============
allow file_type hcfs:filesystem associate;
#============= nfs ============
allow hcfsd nfc:dir { search };
allow hcfsd nfc:file { read write open getattr };

allow hcfsd fuse:dir setattr;
allow hcfsd fuse:filesystem mount;
allow hcfsd hcfs_data_file:dir mounton;
allow hcfsd perfprofd:dir search;
allow hcfsd perfprofd:file { getattr open read };
allow hcfsd priv_app:dir search;
allow hcfsd priv_app:file { getattr open read };
allow hcfsd self:capability { chown fsetid };
allow hcfsd shell_exec:file { entrypoint getattr };
allow hcfsd storage_file:dir getattr;
allow hcfsd storage_stub_file:dir { getattr mounton open read };
allow hcfsd system_server:dir search;
allow hcfsd system_server:file { getattr open read };
allow hcfsd zygote:file getattr;

allow hcfsd rootfs:file { open read };
allow hcfsd rootfs:lnk_file getattr;

allow hcfsd shell_exec:file read;

allow hcfsd app_data_file:dir getattr;
allow hcfsd system_file:file execute_no_trans;
allow hcfsd toolbox_exec:file { execute execute_no_trans getattr open read };
allow hcfsd unlabeled:dir { getattr setattr };

allow hcfsd apk_data_file:dir { getattr setattr };
allow hcfsd hcfsd_exec:file { execute execute_no_trans getattr open read };
allow hcfsd self:capability sys_ptrace;
allow hcfsd sysfs:file { open read getattr };
allow hcfsd system_data_file:file { rename unlink write };
allow hcfsd system_data_file:dir setattr;

allow hcfsd app_data_file:dir { open read remove_name rmdir write };
allow hcfsd dex2oat:dir search;
allow hcfsd dex2oat:file { getattr open read };
allow hcfsd radio_data_file:dir getattr;


allow hcfsd app_data_file:file getattr;
allow hcfsd radio_data_file:dir { open read remove_name rmdir write };

allow hcfsd apk_data_file:dir { remove_name rmdir write };
allow hcfsd apk_data_file:file { getattr unlink };

allow hcfsd su:dir search;
allow hcfsd su:file { getattr open read };

allow hcfsd self:capability fowner;

allow hcfsd app_data_file:file unlink;
allow hcfsd system_app_data_file:dir { getattr open read remove_name write };

allow hcfsd app_data_file:sock_file getattr;
allow hcfsd system_app_data_file:dir rmdir;

allow hcfsd app_data_file:sock_file unlink;

allow hcfsd shell_data_file:dir { getattr open read };
allow hcfsd shell_data_file:dir rmdir;

allow hcfsd bluetooth_data_file:dir { remove_name rmdir write };
allow hcfsd bluetooth_data_file:lnk_file { getattr read unlink };

allow hcfsd system_data_file:dir { open mounton remove_name };
allow hcfsd system_data_file:dir rmdir;
allow hcfsd system_data_file:file { append setattr };
allow hcfsd system_data_file:file { r_file_perms };

allow hcfsd app_data_file:dir search;
allow hcfsd app_data_file:file { lock open read setattr write };

allow hcfsd app_data_file:lnk_file { getattr read unlink };

allow hcfsd fwmarkd_socket:sock_file write;

allow hcfsd radio_data_file:dir search;
allow hcfsd system_app_data_file:dir search;

allow hcfsd bluetooth_data_file:dir { getattr open read };
allow hcfsd bluetooth_data_file:dir search;

allow hcfsd dalvikcache_data_file:dir { open read };
allow hcfsd dalvikcache_data_file:dir { getattr setattr };
allow hcfsd dalvikcache_data_file:dir { rmdir search };
allow hcfsd dalvikcache_data_file:dir { remove_name write };

allow hcfsd dalvikcache_data_file:file { getattr unlink };

allow hcfsd dalvikcache_data_file:lnk_file { read unlink };
allow hcfsd dalvikcache_data_file:lnk_file getattr;
allow hcfsd dalvikcache_data_file:lnk_file read;

allow hcfsd apk_data_file:dir search;
allow hcfsd storage_file:dir search;

allow hcfsd sysfs_batteryinfo:file read;
allow hcfsd sysfs_batteryinfo:file open;
allow hcfsd sysfs_batteryinfo:file getattr;

allow hcfsd nfc_data_file:dir { getattr read open rmdir search write };

allow hcfsd radio_data_file:file { getattr unlink};

allow hcfsd bluetooth_data_file:file { getattr unlink };

allow hcfsd shell_data_file:file append;

allow hcfsd nfc_data_file:dir remove_name;
allow hcfsd shell_data_file:file ioctl;

allow hcfsd hcfsd_exec:file entrypoint;

allow hcfsd node:udp_socket node_bind;
allow hcfsd port:udp_socket name_bind;
allow hcfsd self:udp_socket { connect getopt write };

allow hcfsd kernel:dir search;
allow hcfsd kernel:file { getattr open read };

allow hcfsd hcfs_data_file:file { relabelfrom link };
allow hcfsd rootfs:file getattr;
allow hcfsd security_file:dir search;
allow hcfsd shell_exec:file { execute execute_no_trans open };
allow hcfsd system_data_file:file relabelto;
